<html lang='en'>

<head>
	<meta charset='UTF-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<meta http-equiv='X-UA-Compatible' content='ie=edge' />
	<title>iyed</title>
	<link rel='stylesheet' href='/css/login.css' />
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href='/products'>Produits</a></li>
				{{#if isAdmin}}
				<li><a href='/transaction'>Transactions</a></li>
				<li><a href='/recipe'>Recettes</a></li>
				<li> <a href='/recipe/verify'> Verifier Recette </a></li>
				<li><a href=' /user'>Utilisateurs</a></li>
				{{/if}}
				{{#if isAuth}}
				<li><a href='/logout' class='right-link'>logout</a></li>
				{{else}}
				<li><a href='/login'>Se connecter</a></li>
				<li><a href='/signup'>S'inscrire</a></li>
				{{/if}}
			</ul>
		</nav>
	</header>
	<div class='container'>
		<h1 class='brand'><span>Coin</span> Station</h1>
		<div class='wrapper'>
			<div class='company-info'>
				<h3>Log in</h3>
				<ul>
					<li><i class='fa fa-road'></i> Bizerte</li>
					<li><i class='fa fa-phone'></i> 78 231 724</li>
					<li><i class='fa fa-envelope'></i> coinstation@gmail.com</li>
				</ul>
			</div>
			<div class='contact'>
				<h3>Bienvenue</h3>
				<form id='contactForm' method='post'>
					<p class='full'>
						<label>Nom d'utilisateur</label>
						<input type='text' name='username' id='company' required />
					</p>
					<p class='full'>
						<label>Mot de passe</label>
						<input type='password' name='password' id='message' required />
					</p>
					<p class='full'>
						<button type='submit'>Log in</button>
					</p>
				</form>
			</div>
		</div>
	</div>
</body>

</html>